<script setup lang="ts">
import Dialog from 'primevue/dialog';
import TextFieldComponent from './TextFieldComponent.vue';
import ButtonComponent from './ButtonComponent.vue';
import { appstore } from '../store/appstore';
import { ref } from 'vue';

const appStore = appstore()
const memberName = ref("")
const isMemberEnterd = ref(true)
defineProps({ 'showmodal': Boolean })
const emit = defineEmits(['closed'])
const announceVisiblity = () => {
    emit('closed', false)
}
async function addMember()  {
    isMemberEnterd.value = memberName.value != ""
    await appStore.addMember(memberName.value)
}
</script>

<template>
    <Dialog :visible="showmodal"  @update:visible="announceVisiblity">
        <form role="form" @submit.prevent="addMember">
            <TextFieldComponent id="name" label="Member Name" v-model="memberName" errorMessage="Please enter member name" :invalid="!isMemberEnterd" />
            <div class="grid justify-items-center">
                <ButtonComponent class="grid justify-items-center">Add Member</ButtonComponent>
            </div>
        </form>
    </Dialog>
</template>