<script setup lang="ts">
import { ref } from "vue";

const button = ref<HTMLButtonElement | null>(null);
const focus = () => button.value?.focus();
defineExpose({
  focus,
});
</script>
<template>
  <button class="btnPrimary px-7 py-4 rounded-lg" ref="button">
    <slot />
  </button>
</template>