<script setup lang="ts">
import Dialog from 'primevue/dialog';
import TextFieldComponent from './TextFieldComponent.vue';
import ButtonComponent from './ButtonComponent.vue';
import { ref } from 'vue';
import { appstore } from '../store/appstore';
defineProps({
    'showmodal': Boolean
})
const appStore = appstore()
const author = ref()
const name = ref()
const publisher = ref()
const emit = defineEmits(['closed'])
const announceVisiblity = () => {
    emit('closed', false)
}
</script>

<template>
    <Dialog :visible="showmodal" :modal="true" header="Import Books" @update:visible="announceVisiblity">
        <TextFieldComponent id="author" label="Author" v-model="author"></TextFieldComponent>
        <TextFieldComponent id="title" label="Title" v-model="name" />
        <TextFieldComponent id="publisher" label="Publisher" v-model="publisher" />
        <div class="grid justify-items-center">
            <ButtonComponent class="grid justify-items-center" @click="appStore.importBooks(name,author,publisher)">Import books</ButtonComponent>
        </div>
    </Dialog>
</template>