<script setup lang="ts">
import { appstore } from '../store/appstore';
const appStore = appstore()
const emits = defineEmits(['pageSelected'])
const emitEvent = (route: string) => {
    emits('pageSelected', route)
}
</script>

<template>
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex sm:h-16 items-center justify-between">
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <div v-for="navBarItem in appStore.data.navBarItems" :key="navBarItem.name">
                                <button @click="emitEvent(navBarItem.route)"
                                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">
                                    {{ navBarItem.name }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sm:hidden" id="mobile-menu">
            <div class="px-2 pb-3 pt-2">
                <div v-for="navBarItem in appStore.data.navBarItems" :key="navBarItem.name"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">
                    {{ navBarItem.name }}</div>
            </div>
        </div>
    </nav>
</template>