<script setup lang="ts">
import Dialog from 'primevue/dialog';
import TextFieldComponent from './TextFieldComponent.vue';
import ButtonComponentVue from './ButtonComponent.vue';
import { ref } from 'vue';
import { appstore } from '../store/appstore';
const member_id = ref('')
const isMemberIdEntered = ref(true)
const props = defineProps<{showmodal: boolean, book_id: string}>()
defineEmits(['closed'])
const appStore = appstore()
const rentBook = () => {
    //todo: should also check for valid member_id or make the textfield as dropdown
    if (member_id.value === '') isMemberIdEntered.value = false
    else appStore.rentBook(member_id.value , props.book_id)
}

</script>

<template>
    <Dialog :visible="showmodal" header="Rent book" @update:visible="$emit('closed')">
        <form role="form" @submit.prevent="rentBook()">
            <TextFieldComponent id="member_id" label="Please select member id to rent book" v-model="member_id"
                error-message="Pleases enter member id" :invalid="!isMemberIdEntered" />
            <ButtonComponentVue> Rent </ButtonComponentVue>
        </form>
    </Dialog>
</template>