<script lang="ts">
export default {
  inheritAttrs: false,
};
</script>

<script setup lang="ts">
import { computed, useAttrs } from 'vue';
import { TextFieldProps } from '../helper/interfaces';

const props = withDefaults(defineProps<TextFieldProps>(), {
    invalid: false,
    validationStatus: 'not-validated',
    errorMessage: undefined
})
const emit = defineEmits(["update:modelValue"])
useAttrs()
const value = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit("update:modelValue", value)
    }
})
</script>

<template>
    <div class="p-2.5">
        <label class="text-black-400" :for="props.id">{{ props.label }}</label>
        <input v-bind="$attrs" class="input p-2.5 rounded-md" :id="props.id" v-model="value"/>
        <p v-if="props.invalid" class="inputerror">{{ props.errorMessage }}</p>
    </div>
</template>