<script setup lang="ts">
import Dialog from 'primevue/dialog';
import TextFieldComponent from './TextFieldComponent.vue';
import ButtonComponent from './ButtonComponent.vue';
import { ref, watchEffect } from 'vue';
import { BookModalProps } from '../helper/interfaces'
import { appstore } from '../store/appstore';
const props = withDefaults(defineProps<BookModalProps>(), { showmodal: false })
const appStore = appstore()
const author = ref()
const name = ref()
const publisher = ref()

watchEffect(() => {
    author.value = props.author
    name.value = props.title
    publisher.value = props.publisher
})


const emit = defineEmits(['closed'])
const announceVisiblity = () => {
    emit('closed', false)
}
</script>

<template>
    <Dialog :visible="showmodal" :modal="true" header="Update Book" @update:visible="announceVisiblity">
        <TextFieldComponent id="author" label="Author" v-model="author"></TextFieldComponent>
        <TextFieldComponent id="title" label="Title" v-model="name" />
        <TextFieldComponent id="publisher" label="Publisher" v-model="publisher" />
        <div class="grid justify-items-center">
            <ButtonComponent class="grid justify-items-center"
                @click="appStore.updateBook(name, author, publisher, props.book_id)">Update
                book</ButtonComponent>
        </div>
    </Dialog>
</template>