@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-background-color: #f8f5f5;
  --app-secondary-color: #1d6f6b;
  --primary: hsl(356.4deg, 59.5%, 50.6%);
  --primary-hover: hsl(356.4deg, 70%, 58.19%);
  --primary-ultra-light: hsl(356.4deg, 70%, 95%);
  --secondary: hsl(180, 1%, 43%);
  --secondary-hover: hsl(180, 0%, 49%);
  --secondary-ultra-light: hsl(276deg, 16%, 95%);
}

body {
  background-color: var(--app-background-color);
  min-width: 340px;
  height: 100vh
}

.login-view {
  width: 100%;
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  width: 568px;
  min-height: 380px;
  padding: 4.0rem
}

.form-container {
  position: absolute;
}

.login-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.inputerror {
  color: var(--primary);
}

.error {
  color: var(--primary);
  text-align: center  ;
}

input {
  border: solid 2px;
  width: 100%;
  max-width: 100%;
  font: inherit
}

input:focus {
  outline: 0;
  transition-duration: .5s
}

.btnPrimary {
  background-color: var(--primary);
  color: var(--primary-ultra-light);
}

.btn--primary:hover,
.btnPrimary:hover {
  background-color: var(--primary-hover);
  color: var(--primary-ultra-light);
  border-color: var(--primary-hover);
  cursor: pointer
}
.btnSecondary {
  background-color: var(--secondary);
  color: var(--secondary-ultra-light);
}

.btn--secondary:hover,
.btnSecondary:hover {
  background-color: var(--secondary-hover);
  color: var(--secondary-ultra-light);
  border-color: var(--secondary-hover);
  cursor: pointer
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}