<script setup lang="ts">
import DataTable from 'primevue/datatable';
import InputText from 'primevue/inputtext';
import Column from 'primevue/column';
import { appstore } from '../store/appstore';
import SecondaryButtonComponent from "../components/SecondaryButtonComponent.vue"
import { ref, onMounted, watchEffect } from 'vue';
import ImportBooksModal from '../components/ImportBooksModal.vue';
import UpdateBooksModal from '../components/UpdateBooksModal.vue';
import RentBookModal from '../components/RentBookModal.vue';


const appStore = appstore()
const showImportModal = ref(false)
const showUpdateModal = ref(false)
const showRentModal = ref(false)

const book_id = ref()
const author = ref()
const publisher = ref()
const title = ref()
const bookList = ref()
const searchValue = ref("")

watchEffect(() => bookList.value = appStore.filterBooks(searchValue.value.toLowerCase()))

onMounted(async () => {
    await appStore.importBooks(undefined, undefined, undefined)
    bookList.value = [...appStore.data.books]
})

const popUpdateModal = (bookDetails?: any) => {
    changeVisibility(false, true, false),
        book_id.value = bookDetails.data.book_id,
        author.value = bookDetails.data.authors,
        publisher.value = bookDetails.data.publisher,
        title.value = bookDetails.data.title
}

const popRentModal = (bookDetails: any) => {
    changeVisibility(false,false,true)
    book_id.value = bookDetails.data.book_id
}

const changeVisibility = (importModalVisibility: boolean, updateModalVisibility: boolean, rentModalVisibility: boolean) => {
    showImportModal.value = importModalVisibility
    showUpdateModal.value = updateModalVisibility
    showRentModal.value = rentModalVisibility
}

</script>

<template>
    <DataTable :value="bookList" :show-gridlines="true" paginator :rows="10" responsiveLayout="stack" breakpoint="900px">
        <template #header>
            <div class="flex justify-between">
                <span class="text-xl text-900 font-bold">Books</span>
                <div class="flex space-x-2">
                    <SecondaryButtonComponent @click="changeVisibility(true, false, false)">Import Books
                    </SecondaryButtonComponent>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search" />
                        <InputText v-model="searchValue" placeholder="Keyword Search" />
                    </span>
                </div>
            </div>
        </template>
        <Column field="book_id" header="Id"></Column>
        <Column field="title" header="Title"></Column>
        <Column field="authors" header="Authors"></Column>
        <Column field="isbn" header="ISBN"></Column>
        <Column>
            <template #body="slotProps">
                <div class="flex justify-center">
                    <button @click="popRentModal(slotProps)"
                        class="text-white bg-yellow-700 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Rent </button>
                    <button class="text-white bg-red-700 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
                        @click="appStore.deleteBook(slotProps)"> Delete </button>
                    <button @click="popUpdateModal(slotProps)"
                        class="text-white bg-green-700 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Update </button>
                </div>
            </template>
        </Column>
    </DataTable>
    <ImportBooksModal :showmodal="showImportModal" @closed="changeVisibility(false, false, false)" />
    <UpdateBooksModal :showmodal="showUpdateModal" :author="author" :publisher="publisher" :book_id="book_id" :title="title"
        @closed="changeVisibility(false, false, false)" />
    <RentBookModal :showmodal="showRentModal" :book_id="book_id" @closed="changeVisibility(false,false,false)"/>
</template>