<script setup lang="ts">
import NavBarComponent from "../components/NavBarComponent.vue"
import BooksView from "./BooksView.vue";
import RentView from "./RentView.vue";
import { ref} from "vue";
import MembersView from "../views/MembersView.vue"
const currentTab = ref('/books')
const getCurrentTab = (value: string) => {
    currentTab.value = value
}
</script>

<template>
    <NavBarComponent @page-selected="getCurrentTab" />
    <BooksView v-if="currentTab == '/books'"/>
    <MembersView v-if="currentTab == '/members'" />
    <RentView v-if="currentTab == '/rents'"/>
    <MembersView v-if="currentTab == '/transaction'" />

</template>