<script setup lang="ts">
import TextFieldComponent from '../components/TextFieldComponent.vue';
import ButtonComponent from '../components/ButtonComponent.vue'
import { ref } from 'vue';
import { appstore } from '../store/appstore';

const appStore = appstore()
const userName = ref("")
const passWord = ref("")

const isValidUser = ref(true)
const userNameEntered = ref(true)
const passwordEntered = ref(true)

const login = async () => {
    userNameEntered.value = userName.value != ""
    passwordEntered.value = passWord.value != ""
    if (userNameEntered.value && passwordEntered.value) isValidUser.value = await appStore.login(userName.value, passWord.value)
}
</script>

<template>
    <form role="form" autocomplete="on" ref="formRef" @submit.prevent="login">
        <div class="login-view">
            <div class="container">
                <div class="flex-col">
                    <TextFieldComponent v-model="userName"  id="user_name" label="User Name" error-message="Please enter user name" :invalid="!userNameEntered"/>
                    <TextFieldComponent v-model="passWord"  id="password" label="password" error-message="Please enter password" :invalid="!passwordEntered"/>
                    <p v-if="!isValidUser" class="error"> Invalid user name password </p>
                </div>
                <div class="flex justify-center pt-2">
                    <ButtonComponent type="submit">{{ "Login" }}</ButtonComponent>
                </div>
            </div>
        </div>
    </form>
</template>