<script setup lang="ts">
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import SecondaryButtonComponent from '../components/SecondaryButtonComponent.vue';
import { onMounted, ref, watchEffect } from 'vue';
import { appstore } from '../store/appstore';
import AddMemberModal from '../components/AddMemberModal.vue'
const appStore = appstore()
const members = ref()
const searchValue = ref('')
const showmodal = ref(false)

watchEffect(() => appStore.filterMembers(searchValue.value.toLowerCase()))

onMounted(async () => {
    await appStore.getMember()
    members.value = [...appStore.data.members]
})

const changeVisibility = (value: boolean) => {
    showmodal.value = value
}
const deleteUser = (details: any) => {
    console.log(details)
}
</script>

<template>
    <DataTable :value="appStore.data.members" :show-gridlines="true" paginator :rows="10" responsiveLayout="stack"
        breakpoint="900px">
        <template #header>
            <div class="flex justify-between">
                <span class="text-xl text-900 font-bold">Members</span>
                <SecondaryButtonComponent @click="changeVisibility(true)">Add Member</SecondaryButtonComponent>
            </div>
        </template>
        <Column header="Id" field="member_id" />
        <Column header="name" field="name" />
        <Column header="current balance" field="current_balance" />
        <Column header="">
            <template #body="slotProps">
                <div class="flex justify-center">
                    <button class="text-white bg-red-700 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2"
                        :onclick="deleteUser(slotProps)"> Delete </button>
                    <button
                        class="text-white bg-green-700 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Update </button>
                </div>
            </template>
        </Column>
    </DataTable>
    <AddMemberModal :showmodal="showmodal" @closed="changeVisibility(false)" />
</template>