<script setup lang="ts">
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import { appstore } from '../store/appstore';
import { onMounted } from 'vue';
const appStore = appstore()
onMounted(() => appStore.rentDetails())
</script>

<template>
    <DataTable :value="appStore.data.rents" :show-gridlines="true" paginator :rows="10" responsiveLayout="stack"
        breakpoint="900px">
        <Column field="rental_details_id" header="Id"/>
        <Column field="member_id" header="Member Id"/>
        <Column field="member_name" header="Member Name" />
        <Column field="book_id" header="Book Id" />
        <Column field="book_name" header="Book Name" />
        <Column field="rented_at" header="Rented Date" />
        <Column field="fee" header="Fee"/>
        <Column field="is_returned" header="Return Status"/>
        <Column field="returned_at" header="Returned Date"/>
    </DataTable>
</template>